/.vs
/Debug/
/DependencyViewer.VC.db
/DependencyViewer.VC.VC.opendb
/DependencyViewer/Debug/
/DependencyViewer/DependencyViewer.vcxproj.user
/DependencyViewer/Release/
/DependencyViewer/x64/Debug/
/DependencyViewer/x64/Release/
/Release/
/x64/Debug/
/x64/Release/
